/node_modules/
.history
coverage
coverage/lcov.info
coverage/lcov-report/sum.ts.html
coverage/lcov-report/storage.ts.html
coverage/lcov-report/index.html
coverage/coverage-final.json
coverage/clover.xml
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov-report/index.html
coverage/lcov-report/storage.ts.html
coverage/lcov-report/sum.ts.html
coverage/lcov.info
